manifest {
  name = 'nf-humann-regroup'
  author = 'Jon Sanders'
  homePage = 'https://github.com/tanaes/nf-humann-regroup'
  description = 'downloading and regrouping CuratedMetagenomicData tables'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '0.0.1'
}

plugins {
  id 'nf-schema@2.0.0'
}

// includeConfig "$projectDir/conf/aws_batch.config"
// includeConfig "$projectDir/conf/azurebatch.config"

params {

    /* 	Containers
     --------------------------------*/
    docker_container_humann3 = "quay.io/biocontainers/humann:3.8--pyh7cba7a3_0"
    docker_container_cmd = "lightweightlabware/metaphlan:4.1.0--pyhca03a8a_0"

    /* 	Execution flow parameters
     --------------------------------*/

    config_profile_name        = 'Default profile'
    config_profile_description = 'nf-humann-regroup default workflow'

    /* 	Execution flow parameters
     --------------------------------*/

	  outdir="./output"
    split  = true  // whether to output un/stratified split tables

    /* 	Processing parameters
     --------------------------------*/

    // //BowTie2 databases for MetaPhlAn
    // metaphlan_index="mpa_vOct22_CHOCOPhlAnSGB_202212"
    // metaphlan_db="/dbs/metagenometest/metagenome-dbs/metaphlan/metaphlan4/vOct22"
    // bt2options="very-sensitive" //presets options for BowTie2

    // // ChocoPhlAn and UniRef databases for HUMANn analysis
    // chocophlan="/dbs/metagenometest/metagenome-dbs/humann/3.0/chocophlan/DEMO/chocophlan"
    // uniref="/dbs/metagenometest/metagenome-dbs/humann/3.0/uniref/DEMO_diamond/uniref"
    // utility_mapping="/dbs/metagenometest/metagenome-dbs/humann/3.0/utility_mapping/utility_mapping"


    /* 	Initialisation
     --------------------------------*/

    //These are used when the analysis is in characterisation mode
    reads1 = null
    reads2 = null

    //These are used to print version and help
    help = null
    version = null

    multiqc_config="$projectDir/conf/multiqc_config.yaml"
}
