manifest {
  name = 'nf-humann-regroup'
  author = 'Jon Sanders'
  homePage = 'https://github.com/tanaes/nf-humann-regroup'
  description = 'downloading and regrouping CuratedMetagenomicData tables'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '0.0.1'
}

plugins {
  id 'nf-schema@2.0.0'
}

// includeConfig "$projectDir/conf/aws_batch.config"
// includeConfig "$projectDir/conf/azurebatch.config"
docker {
    enabled = true
}

params {

    /* 	Containers
     --------------------------------*/
    docker_container_humann3 = "biobakery/humann:3.9"
    docker_container_cmd = "lightweightlabware/curatedmetagenomicdata-env:latest"

    /* 	Execution flow parameters
     --------------------------------*/

    config_profile_name        = 'Default profile'
    config_profile_description = 'nf-humann-regroup default workflow'

    /* 	Execution flow parameters
     --------------------------------*/

	  outdir="./output"
    split  = true  // whether to output un/stratified split tables

    /* 	Processing parameters
     --------------------------------*/
    utility_mapping="/dbs/metagenometest/metagenome-dbs/humann/3.0/utility_mapping/utility_mapping"


    /* 	Initialisation
     --------------------------------*/

    //These are used when the analysis is in characterisation mode
    reads1 = null
    reads2 = null

    //These are used to print version and help
    help = null
    version = null

    multiqc_config="$projectDir/conf/multiqc_config.yaml"
}

process {
    maxRetries = 2
    cleanup = true
    cache = true
    cpus = 2
    memory = 4.GB
    time = '4.h'
    

    withLabel: bigmem
    {
        time = '12h'
        cpus = 8
        memory = '250 GB'
        errorStrategy = 'ignore'
    }

    withLabel: medmem
    {
        time =  '12h'
        cpus = 8
        memory = '64 GB'
        errorStrategy = 'ignore'
    }
}